/* Search Section */
.checkbox-btn {
  border: 1px outset #e5e5e5;
  border-radius: 10px;
  background-color: #14213D;
  color: #e5e5e5;
  font-size: 1.2em;
  padding: 10px 20px;
}

.checkbox-div {
  margin-right: 30px;
  text-align: left;
}

.checkbox-input {
  margin-right: 10px;
}

.checkbox-flex-container {
  display: flex;
  width: 600px;
  height: 100px;
  margin: 20px auto;
}

.checkbox-main-container {
  background-color: #fca311;
  padding: 40px;
  text-align: center;
}

.checkbox-p {
  margin-top: 30px;
}

.checkbox-select-container {
  margin-top: 30px;
}

/* Popular Workouts Section */
.popular-flex-container {
  display: flex;
  width: 800px;
  height: 100px;
  margin: 20px auto;
}

.popular-main-container {
  background-color: #14213D;
  padding: 40px;
  height: 500px;
}

.popular-main-container h1 {
  text-align: center;
  color: white;
}

.popular-video {
  margin: 30px 30px 0;
}

.popular-video h3 {
  color: white;
  margin-bottom: 10px;
}