/* BASE: the starting point */
html, body, div, span, h1, h2, h3, h4, h5, h6,
p, a, address, img, ul, li, footer, header {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  -webkit-font-smoothing: antialiased;
  vertical-align: baseline; }

a {
  text-decoration: none; }

footer, header, nav, section {
  display: block; }

body {
  line-height: 1.4; }

ol, ul {
  list-style: none; }

img {
  max-width: 100%; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }


html, body {
  height: 100%; 
}

html {
  font: 1rem helvetica, sans-serif;
  letter-spacing: 0.01rem; 
}

.grid {
  display: grid;
  width: 100%; }

.grid-item {
  justify-self: center; }
.grid-item:first-child {
  justify-self: start; }
.grid-item:last-child {
  justify-self: end; }

.header {
  grid-area: header; 
}

.grid-template {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header"; 
}

.nav-grid {
  display: inline-grid;
  grid-template-columns: auto auto; 
}

.nav-grid input, .nav-grid label {
  display: none; 
}

.nav-grid li {
  display: inline-grid; 
}

.nav-type .hidden-menu {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px; 
}

.nav-box {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.2s;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  padding: 0.75rem 2rem; 
}

.nav-box .logo, .nav-box li {
  padding: 0 2rem; 
}

.nav-box #nav-links, .nav-box .fa-bars {
  margin-top: 0.25rem; 
}

.nav-color {
  background-color: #fff;
  color: #000; 
}

.nav-color a {
  color: #000; 
}

.nav-color a:hover {
  color: #FCA311; 
}

.nav-type .logo, .nav-type .fa {
  font-size: 1.27rem;
  font-weight: bold; 
}

.nav-type li {
  font-size: 0.94rem;
  text-align: right; 
}

.nav-type li:last-child {
  padding-right: 10px;
}

.account {
  display: flex;
}

.user {
  margin-right: 5px;
}

.chevron {
  margin-left: 5px;
}

@media screen and (max-width: 600px) {
  .nav-box #nav-links {
    margin: 0.5rem 1.75rem 0.75rem 0; 
  }

  .nav-box .logo {
    padding: 0 1rem; 
  }

  .nav-box li {
    padding: 0;
    margin-top: 1rem; 
  }

  .nav-grid label, .nav-grid li, .nav-grid #nav-toggle:checked + #nav-links {
    cursor: pointer;
    display: grid;
    justify-content: end; 
  }

  .nav-grid #nav-links, .nav-grid #nav-toggle {
    display: none; 
  }
}


